<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="robots" content="index,follow" />

    <title>
        {{ get('title', 'Ouvrez le coffre') }}
    </title>

      <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">

      <link rel="stylesheet" href="/static/style.css" />


</head>

<body>
<div class="container">

  %include

<p class="text-center">
  <a href="http://sametmax.com">Sam &amp; Max</a>
</p>


</div>
</body>

</html>
