<p class="text-center achievement" >
    <img src="static/deceivement.gif">
</p>

<p>
    <blockquote>
    Quelqu'un a déjà ouvert le coffre avant toi. Pas de bol. T'auras rien. Pas de cadeau. Nada. Que dalle. Nothing. Le néant. Peau d'balle. Niet. Le vide. L'absence de quelque chose, quoi. Aller, pour te consoler, voici la video de personnes qui ont une vie de merde :
    </blockquote>

    <iframe width="420" height="315" src="//www.youtube.com/embed/5NsxZp8F0aE" frameborder="0" allowfullscreen></iframe>
</p>

%rebase base title="Snif !"